*.pyc
*.so
*.o
*.a
#*
.#*
*~
scripts/.nfs*
build
dist
test/*
#test/*.py
*.egg-info
log/*
externals/*
!externals/README.txt
extra/MPI/*
!extra/MPI/CMakeLists.txt
extra/boost/*
!extra/boost/CMakeLists.txt
docker/*
!docker/Dockerfile.base
!docker/Dockerfile.twopi